.advantages {
    padding: 80px 0;

    &__title {
        margin-bottom: 27px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        gap: 30px;
    }

    &__item {
        display: inline-flex;
    }

    &__img {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(65, 105, 193, 0.2);
        margin-right: 33px;
        img {
            max-width: none;
        }
    }

    &__item-title {
        margin-bottom: 3px;
    }

    &__descr {
        max-width: 277px;
        font-size: 14px;
        line-height: 21px;
        color: rgba(0, 26, 51, 0.7);
    }

}