.portfolio {
    padding: 70px 0 51px;
    background-color: #F4F8FF;

    &__title {
        text-align: center;
        margin-bottom: 35px;
    }

    &__slide {
        display: flex;
        align-items: center;
    }

    &__box {
        padding: 40px 30px 82px;

        background-color: #4169C1;
    }

    &__box-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;

        color: #FFFFFF;
        margin-bottom: 9px;
    }

    &__text {
        max-width: 481px;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 29px;
    }

    &__descr {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #FFFFFF;
        margin-bottom: 13px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 590px;
        margin-bottom: 39px;
    }

    &__item {
        flex-basis: 45%;
        position: relative;
        margin-bottom: 13px;
        padding-left: 29px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../img/check.svg);
            width: 24px;
            height: 24px;
        }
    }

    &__slider {
        position: relative;
        max-width: 1055px;
        margin: 0 auto;

    }

    &__slider-btn {
        position: absolute;
        top: 50%;

        background-color: transparent;
        border: none;
        padding: 0;
        z-index: 1;
        width: 26px;
        height: 58px;
        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;
        }

        &_prev {
            left: -45px;
            transform: rotate(-180deg) translateY(40%);
        }

        &_next {
            transform: translateY(-50%);
            right: -45px;
        }
    }
}

.swiper-button-disabled {
    opacity: .38;
}