body {
    font-family: Geometria, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
}
.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.lock {
    overflow: hidden;
}